@font-face {
  font-family: "norse";
  src:
    url("../Sign-up/fonts/norse.woff2") format("woff2"),
    url("../Sign-up/fonts/norse.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

div.header {
    width: auto;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: black;
}

.left {
    display: flex;
    position: relative
}

.logo-row {
    display: flex;
    position: absolute;
    padding: 250px 0 0 100px;
    width: 90px;
    height: 90px;
}

h1 {
    font-family: norse, sans-serif;
    font-size: 48px;
    font-weight: 900;
    color: white;
}

.trans-back {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 356.79px;
    height: 100px;
    top: 245px;
}

div.image {
    padding: 0
}

.image {
    width: 300px;
    height: 890px;
    display: flex;
    padding-top: 145px;
    padding-right: 0px;
}

h6 {
    position: relative;
    font-size: 12px;
    display: flex;
    padding: 0 130px 0 15px;
}

.copyright {
    position: absolute;
    justify-content: last baseline;
    font-size: 10px;
    color: white;
    display: flex;
    padding: 850px 0 0 15px;
}

div.right {
    padding: 0;
}

.right {
    display: flex;
    flex: 1;
    position: relative;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    margin-right: 0px;
}

.right-back {
    display: flex;
    background-color: rgba(179, 179, 179, 0.1);
    position: absolute;
    width: 100%;
    min-height: 225px;
    left: 0px;
    top: 0px;
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 0 130px 0 15px;
}

.form-row {
  margin-bottom: 40px;
  display: flex;
  justify-content: wrap;
  flex-direction: column;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.form-row label {
  margin-bottom: 5px;
}

.form-row input[type='text'],
.form-row input[type='email'],
.form-row input[type='tel'],
.form-row input[type='password'] {
  background-color: #FFFFFF;
  border: 1px solid #E5E7EB;
  border-radius: 3px;
  width: 50%;
  padding: 7px;
  font-size: 12px;
  margin-bottom: 10px;
}

.form-row input:valid[type='password'] {
  border-color: green;
}

.form-row input:focus:valid[type='password'] {
  outline: none;
  box-shadow: 0 0 5px green;
}

.form-row input:invalid[type='password'] {
  border-color: red;
}

.form-row input:focus:invalid[type='password'] {
  outline: none;
  box-shadow: 0 0 5px red;
}

.form-footer {
    display: flex;
    flex-direction: column;
    padding: 0 130px 0 15px;
    border: #D6D9DC 1px solid;
    border-bottom-style: none;
    padding-top: 20px;
    margin-bottom: 0px;
}

button {
    margin: 30px 0 20px 50px;
    width: 200px;
    height: 50px;
    background-color: #596D48;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
