body {
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.left {
    display: flex;
    flex-direction: space-between;
}

.right {
    display: flex;
    flex-direction: space-between;
    padding-left: 10px;
    padding-bottom: 100px;
    padding-right: 100px;
}

.image {
    width: 400px;
    height: 400px;
    display: flex;
}