@font-face {
  font-family: "norse";
  src:
    url("../Sign-up/fonts/norse.woff2") format("woff2"),
    url("../Sign-up/fonts/norse.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: black;
}

.left {
    display: flex;
    position: relative
}

.logo-row {
    display: flex;
    position: absolute;
    padding: 250px 0 0 100px;
    width: 90px;
    height: 90px;
}

h1 {
    font-family: norse, sans-serif;
    font-size: 48px;
    font-weight: 900;
    color: white;
}

.trans-back {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 356.79px;
    height: 100px;
    top: 245px;
}

.right-back {
    display: flex;
    background-color: rgba(179, 179, 179, 0.1);
    position: absolute;
    width: 800px;
    height: 110px;
    left: 0px;
}

.image {
    width: 300px;
    height: 535px;
    display: flex;
    padding-top: 145px;
    padding-right: 0px;
}

h6 {
    position: relative;
    font-size: 12px;
    display: flex;
    padding: 0 130px 0 15px;
}

.right {
    display: flex;
    position: relative;
    flex-direction: space-between;
    padding: 100px 0 0 10px;
    background-color: white;
    margin-right: 0px;
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 0 130px 0 15px;
    border: #D6D9DC 1px solid;
}

.form-row {
  margin-bottom: 40px;
  display: flex;
  justify-content: wrap;
  flex-direction: column;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.form-row label {
  margin-bottom: 5px;
}

.form-row input[type='text'],
.form-row input[type='email'],
.form-row input[type='tel'],
.form-row input[type='password'] {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 40%;
  padding: 7px;
  font-size: 14px;
  margin-bottom: 10px;
}

.form-footer {
    display: flex;
    flex-direction: column;
    padding: 0 130px 0 15px;
    border: #D6D9DC 1px solid;
    margin-bottom: 40px;
    padding-top: 20px;
}

button {
    background-color: #18b45e;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 0;
    font-size: 16px;
    cursor: pointer;
}