@font-face {
  font-family: "norse";
  src:
    url("../Sign-up/fonts/norse.woff2") format("woff2"),
    url("../Sign-up/fonts/norse.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: black;
}

.left {
    display: flex;
    position: relative
}

.logo-row {
    display: flex;
    position: absolute;
    padding: 250px 0 0 100px;
    width: 90px;
    height: 90px;
}

h1 {
    font-family: norse, sans-serif;
    font-size: 48px;
    font-weight: 900;
    color: white;
}

.trans-back {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 356.79px;
    height: 100px;
    top: 245px;
}

.right {
    display: flex;
    position: relative;
    flex-direction: space-between;
    padding-left: 10px;
    background-color: white;
    height: 100vh;
    width: 1000px;
    margin-right: 0px;
}

.image {
    width: 300px;
    height: 535px;
    display: flex;
    padding-top: 145px;
    padding-right: 0px;
}

h6 {
    background-color: #fafafa;
    font-size: 12px;
    border: 40px solid #fafafa;
    border-color: #fafafa;
}