@font-face {
  font-family: "norse";
  src:
    url("../Sign-up/fonts/norse.woff2") format("woff2"),
    url("../Sign-up/fonts/norse.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: black;
}

.left {
    display: flex;
    flex-direction: space-between;
}

.logo-row {
    display: flex;
    width: 100px;
    height: 100px;
}

h1 {
    font-family: norse, sans-serif;
    font-size: 48px;
    font-weight: 900;
    color: white;
}

.right {
    display: flex;
    flex-direction: space-between;
    padding-left: 10px;
    padding-bottom: 100px;
    padding-right: 100px;
    background-color: white;
    margin-top: 145px;
    margin-bottom: 145px;
}

.image {
    width: 320px;
    height: 535px;
    display: flex;
    padding-top: 145px;
    padding-right: 0px;
}

h6 {
    background-color: #fafafa;
    font-size: 12px;
    border: 40px solid #fafafa;
    border-color: #fafafa;
}